.Categories-Div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.Category-NavLink-Div {
  margin: 5px;
}

.Category-NavLink {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.Category-NavLink:hover {
  background-color: rgb(255, 233, 160);
}

.Category-NavLink:visited {
  color: #551a8b;
}

.Foam-NavLink {
  background-color: rgb(255, 233, 160);
}

.Foam-NavLink:visited {
  background-color: rgb(255, 233, 160);
  color: #551a8b;
}