.ImageCard-Div-Cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.arrowBox-Div {
  display: flex;
  justify-content: center;
}

.arrows {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #551a8b;
}

.arrows:hover {
  text-decoration: underline;
}